.cabecalhoPrincipal .container{ /*.container está dentro de .cabecalhoPrincipal*/
    display: flex;
    align-items: center;
    justify-content: space-between; /*como tem espaço sobrando entre os elementos, usamos ele com space between*/
}
.cabecalhoPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap; /* quando atingir o tamanho todo pai, então, quebra */
    flex-flow: column wrap; /*substitui flex direction e flex wrap*/
    height: 260px;
}
.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}
.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}